*{
    margin: 0;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    display: flex;
}

.dashboard__header {
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 16px;
}

.dashboard__icon{
    font-size: 30px;
}

.dashboard__heading{
    font-size: 26px;
    font-weight: 500;
}


.icon {
    color: white;
}

.aside__container {
    background-color: #272829;
    width: 20%;
    border-right: 1px #61677A solid;
}

.aside__primary__options {
    padding: 20px 0px;
}

.aside__link__container{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: gray;
    gap: 20px;
    cursor: pointer;
    width: 200px;

}

.aside__link__container:hover{
    background-color: #61677A;
}

.aside__link__container:hover .icon{
    color: #FF407D;
}

.aside__link__name{
    font-weight: 300;
 }


/* ######################### */

.header__container{
    padding: 5px 40px;
   border-bottom: 1px solid #61677A;
   background-color: #272829;
}

.search__container {
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.profile__container {
    display: flex;
    background: transparent;
    align-items: center;
    gap: 20px;
}

.profile__name {
    font-size: 20px;
}

.search__input {
    background-color: #B6BBC4;
    border: none;
    border-radius: 40px;
    padding: 10px;
    width: 600px;
    height: 30px;
}

.profile__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repo__name__container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.name__container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.profile__image{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.header__top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__greet {
    font-size: 14px;
    opacity: 0.7;
}

.header__button__container{
    display: flex;
    gap: 20px;
}

.header__button {
    padding: 10px 30px ;
    border-radius: 50px;
    border: gray solid 1px;
    background-color: #272829;
    cursor: pointer;
}

.header__button:hover {
    color: #272829;
    background-color: gray ;
}

.section__container{
    display: flex;
    background-color: black;
    padding: 10px 20px;
    
}

.Projects__heading {
    font-weight: 300;
}

.main__section__aside__container{
    width: 30%;
    background-color: black;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects__section{
    width: 80%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__container{
    width: 30%;
    border-radius: 10px;
    /* margin: 10px; */
    display: flex;
    gap: 15px;
    justify-content: space-between;
    background-color: #272829;
    width: 400px;
    
}

.project__decoration{
    background-color: darkmagenta;
    width: 30px;
    border-radius: 10px 0px 0px 10px;
    /* margin-left: 5px; */

}

.project__contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    padding: 35px 0px;
    
}

.project__heading {
    font-size: 16px;
    font-weight: 300px;
    background-color: transparent;
}

.project__description {
    font-size: 14px;
    opacity: 0.7;
    background-color: transparent;
    line-height: 20px;
}

.icons__container{
    display: flex;
    justify-content: end;
    gap: 20px;
    background-color: transparent;
    padding: 5px 20px;
}
.icon {
    background-color: transparent;
    font-size: 20px;
    width: 30px;
}

.icon:hover{
    color: #FF407D;
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}





.announcements__container {
    padding: 20px 30px;
    background-color: #272829;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcement__container {
    border-bottom: solid 2px gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
    background-color: transparent;
}

.announcement__heading{
font-size: 14px;
font-weight: 600;
background-color: transparent;
}

.announcement__description{

    font-size: 12px;
    opacity: 0.8;
    background-color: transparent;
}

.peoples__container {
    background-color: #272829;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.people__container{
    display: flex;
    align-items: center;
    gap: 30px;
}

.people__name {
    font-weight: 600;
}